<div class="about-container">
    <div class="about-text">
        <h2>About the store!</h2>
    </div>
</div>


<div class="container">
    <div class="left">
        <img class="image-size" src="../../assets/headshot.jpeg" alt="Hannah Boulet">
    </div>
    <div class="right">
        <div>
            <p><strong>Who made this site?</strong></p>
            <p>Site by Hannah Boulet</p>
        </div>
        <div>
            <p><strong>What's this site about?</strong></p>
            <p>This is my Final Project for my Full Stack class that is a full e-commerce site.</p>
        </div>
    </div>
</div>