<div class="about-section">
    <h1>About the Cats Store</h1>
    <p>Buy unique and funny cats here!</p>
</div>

<h2 style="text-align:center">The dev team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="../../assets/headshot.jpeg" alt="Hannah">
            <div class="container">
                <h2>Hannah Boulet</h2>
                <p class="title">Designer</p>
                <p>Lazy owner who doesnt give enough treats</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="../../assets/margreat.jpg" alt="Maggie">
            <div class="container">
                <h2>Maggie</h2>
                <p class="title">CEO & Founder</p>
                <p>Hardest Worker and Main inspo.</p>
            </div>
        </div>
    </div>