/* Styling for the confirmation page */
.confirmation-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.confirmation-page h2 {
    text-align: center;
}

.order-details {
    margin-bottom: 20px;
}

.order-details h3 {
    margin-bottom: 10px;
}

.order-details p {
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #353535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}


button:hover {
    background-color: #737373;
}