<div class="welcome-container">
    <div class="welcome-text">
        <h2>Welcome to Cat Store!</h2>
    </div>
</div>
<div class="unique-items-text">
    <p>Select from our unique item CATalouge:</p>
</div>
<div>
    <div class="item-sort-container">
        <div class="item-container">
            <div *ngFor="let item of sortedItems" class="item-card">
                <mat-card>
                    <mat-card-content [routerLink]="'items/' + item.itemName">
                        <img class="item-image" [src]="item.image" alt="{{item.itemName}}">
                        <h4>{{item.itemName}}</h4>
                        <h1>${{item.price}}</h1>
                    </mat-card-content>
                    <button *ngIf="isUserLoggedIn()" (click)="addToCart(item.id)">Quick Add</button>
                    <button *ngIf="!isUserLoggedIn()" routerLink="/login">SignIn to Quick Add!</button>
                </mat-card>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Sort Items by</button>
            <div class="dropdown-content">
                <a href="#" (click)="onSortDirectionChange('pricelow')">Lowest to Highest Price</a>
                <a href="#" (click)="onSortDirectionChange('pricehigh')">Highest to Lowest Price</a>
            </div>
        </div>
    </div>