.container {
    text-align: center;
    padding: 0 20px;
}

.welcome-container {
    background-image: url('../../assets/homepage.jpg');
    background-size: cover;
    background-position: center;
    height: 389px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.welcome-text {
    text-align: center;
    color: white;
}

.item-sort-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin-right: 20px;
}

.sort-container {
    margin-left: 20px;
    flex-shrink: 0;
}

.sort-container label {
    margin-right: 10px;
}

.item-card {
    border: 1px solid #343434;
    padding: 5px;
    margin: 10px;
    background-color: white;
    width: calc(33.33% - 20px);
    max-width: 200px;
    height: 235px;
}

.item-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

h4,
h1 {
    margin-top: 5px;
    font-size: 16px;
    color: #888;
    text-align: center;
}