.container {
    text-align: center;
    padding: 0 20px;
}

.welcome-container {
    background-image: url('../../assets/homepage.jpg');
    background-size: cover;
    background-position: center;
    height: 389px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.welcome-text {
    text-align: center;
    color: white;
}

.item-sort-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin-right: 20px;
    min-height: 800px;
    background-color: #f2f2f2;
}

.sort-container {
    margin-left: 20px;
    flex-shrink: 0;
}

.sort-container label {
    margin-right: 10px;
}

.item-card {
    border: 1px solid #343434;
    padding: 5px;
    margin: 10px;
    background-color: rgb(54, 54, 54);
    width: calc(33.33% - 20px);
    max-width: 200px;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

h4,
h1 {
    margin-top: 5px;
    font-size: 16px;
    color: #888;
    text-align: center;
}

p {
    margin-top: 5px;
    font-size: 24px;
    color: #020101;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #353535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}


button:hover {
    background-color: #737373;
}

.dropbtn {
    background-color: #424242;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #767676;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #656565;
}

.unique-items-text {
    text-align: center;
    margin-bottom: 20px;
}