* {
    font-family: 'Poppins';
}

body {
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(220, 2%, 27%);
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    width: 100%;
    margin-bottom: 1em;
}

.register-button {
    margin-top: 1em;
    background: hsl(0, 1%, 48%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
}

.button-container {
    margin-top: 1em;
}

button {
    cursor: pointer;
}

.screen-1 {
    background: hsl(213deg 85% 97%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    gap: 2em;
}

.screen-1 .logo {
    margin-top: -3em;
}

.screen-1 .userName,
.screen-1 .password {
    background: hsl(0, 40%, 77%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
}

.screen-1 .userName input,
.screen-1 .password input {
    outline: none;
    border: none;
}

.screen-1 .userName input::placeholder,
.screen-1 .password input::placeholder {
    color: hsl(0deg 0% 0%);
    font-size: 0.9em;
}

.screen-1 .userName ion-icon,
.screen-1 .password ion-icon {
    color: hsl(0deg 0% 30%);
    margin-bottom: -0.2em;
}

.screen-1 .password .show-hide {
    margin-right: -5em;
}


.screen-1 .footer {
    display: flex;
    font-size: 0.7em;
    color: hsl(0deg 0% 37%);
    gap: 14em;
    padding-bottom: 10em;
}

.screen-1 .footer span {
    cursor: pointer;
}