.shopping-cart {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item-container {
    border-bottom: 1px solid #eee;
    padding: 10px;
    border: 1px solid #343434;
    padding: 5px;
    margin: 10px;
    background-color: white;


}

.cart-item {
    display: flex;
    align-items: center;
}

.item-details {
    flex: 1;
}

.item-price {
    font-weight: bold;
}

.item-image {
    margin-left: 20px;
}

.empty-cart {
    text-align: center;
    margin-top: 20px;
    color: #888;
}