<div *ngIf="item" class="container">
    <div class="left-column">
        <img [src]="item.image" alt="{{ item.itemName }} Image">
    </div>
    <div class="right-column">
        <h1>{{ item.itemName }}</h1>
        <p>Description: {{ item.description }}</p>
        <p>Price: ${{ item.price }}</p>
        <button *ngIf="isUserLoggedIn()" (click)="addToCart(item.id)">Add to Cart</button>
        <button *ngIf="!isUserLoggedIn()" routerLink="/login">Please Signin to add to cart!</button>
    </div>
</div>



<div class="other-items-container">
    <div *ngFor="let otherItem of items" class="other-item">
        <mat-card>
            <mat-card-content [routerLink]="'/items/' + otherItem?.itemName">
                <img class="item-image" [src]="otherItem.image" alt="{{ otherItem.itemName }} Image">
                <h4>{{ otherItem.itemName }}</h4>
                <h1>${{ otherItem.price }}</h1>
            </mat-card-content>
        </mat-card>
    </div>
</div>