.other-items-container {
    display: flex;
    overflow-x: auto;
    text-align: center;
    padding: 0 20px;
}

.other-item {
    margin-right: 20px;
    border: 1px solid #343434;
    padding: 5px;
    margin: 10px;
    background-color: white;
    width: calc(33.33% - 20px);
    max-width: 200px;
    height: 235px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}


.item-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.otheritem-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

button {
    padding: 10px 20px;
    background-color: #353535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #737373;
}

h4,
h1 {
    margin-top: 5px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

p {
    margin-top: 5px;
    font-size: 14px;
    color: #232323;
    text-align: center;
}

.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}