<div *ngIf="item" class="container">
    <div class="left-column">
        <!-- <div class="inner-container"> -->
        <img [src]="item.image" alt="{{ item.itemName }} Image" class="item-image">
        <!-- </div> -->
    </div>
    <div class="right-column">
        <h1>{{ item.itemName }}</h1>
        <p>{{ item.description }}</p>
        <p>${{ item.price }}</p>
        <button *ngIf="isUserLoggedIn()" (click)="addToCart(item.id)">Add to Cart</button>
        <button *ngIf="!isUserLoggedIn()" routerLink="/login">Please Signin to add to cart!</button>
    </div>
</div>

<div>
    <h1 class="otheritemstext">Check out our other purrfect items: </h1>
</div>

<div class="other-items-container">
    <div *ngFor="let otherItem of items" class="other-item">
        <mat-card>
            <mat-card-content [routerLink]="'/items/' + otherItem?.itemName">
                <img class="otheritem-image" [src]="otherItem.image" alt="{{ otherItem.itemName }} Image">
                <h4>{{ otherItem.itemName }}</h4>
                <h4>${{ otherItem.price }}</h4>
            </mat-card-content>
        </mat-card>
    </div>
</div>