.other-items-container {
    display: flex;
    overflow-x: auto;
    text-align: center;
    padding: 0 20px;
    flex-wrap: nowrap;
}

.other-item {
    margin-right: 20px;
    border: 1px solid #343434;
    padding: 5px;
    margin: 10px;
    background-color: white;
    min-width: 250px;
    flex-grow: 1;
    height: 235px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    background-color: gray;
}

.item-image {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.otheritem-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}


button {
    padding-top: 10px;
    padding: 10px 20px;
    background-color: #353535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #737373;
}

h4 {
    margin-top: 5px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

h1 {
    margin-top: 5px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

p {
    margin-top: 5px;
    font-size: 14px;
    color: #232323;
    text-align: center;
}

.left-column {
    width: 65%;

}

.right-column {
    width: 35%;
    margin-top: 60px;

}

.otheritemstext {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}