.other-items-container {
    display: flex;
    overflow-x: auto;
    text-align: center;
    padding: 0 20px;
    /* Enable horizontal scrolling if items overflow */
}

.other-item {
    margin-right: 20px;
    border: 1px solid #343434;
    padding: 5px;
    margin: 10px;
    background-color: white;
    width: calc(33.33% - 20px);
    max-width: 200px;
    height: 235px;
    /* Adjust the spacing between items */
}


.item-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

h4,
h1 {
    margin-top: 5px;
    font-size: 16px;
    color: #888;
    text-align: center;
}