<div>
    <p>Welcome {{currentUser!.userName}}</p>
</div>
<div class="profile-page" *ngIf="oldItems.length > 0; else emptyCart">
    <div class="cart-items">
        <h2>Past Items Ordered:</h2>
        <div class="item-container">
            <div *ngFor="let itemId of oldItems" class="item-card">
                <div *ngIf="getItemById(itemId) as item">
                    <mat-card>
                        <mat-card-content [routerLink]="'//items/' + item.itemName">
                            <img class="item-image" [src]="item.image" alt="{{ item.itemName }} Image">
                            <h4>{{ item.itemName }}</h4>
                            <h4>${{ item.price }}</h4>
                        </mat-card-content>
                        <button (click)="reorderItem(itemId)">Reorder</button>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #emptyCart>
    <div class="empty-cart">
        <p>You have never ordered any items! Order items to see past ordered items!</p>
    </div>
</ng-template>