header {
    background-color: rgba(139, 15, 222, 0.635);

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}



.svg-icon {
    width: 24px;
    /* Adjust the width as needed */
    height: 24px;
    /* Adjust the height as needed */
}

li {
    margin: 1%;
    flex-grow: 1;
    /* This will make all items grow to fill the space equally */
    text-align: center;
    /* Centers the text within the li */
}