<header>
    <ul>
        <li *ngFor="let link of links">
            <ng-container *ngIf="link.name === 'Cart'">
                <a mat-button [routerLink]="link.path">
                    <img src="../../assets/shopping-cart-outline-svgrepo-com.svg" alt="Cart" class="svg-icon">
                </a>
            </ng-container>
            <ng-container *ngIf="link.name === 'Signin'">
                <a mat-button [routerLink]="link.path">
                    <img src="../../assets/profile-svgrepo-com.svg" alt="Signin" class="svg-icon">
                </a>
            </ng-container>
            <ng-container *ngIf="link.name !== 'Cart' && link.name !== 'Signin'">
                <a mat-button style="color: black;" [routerLink]="link.path">{{link.name}}</a>
            </ng-container>
        </li>
    </ul>
</header>