header {
    background-color: rgba(139, 15, 222, 0.635);

}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;

}

.svg-icon {
    width: 24px;
    height: 24px;
}


li {
    margin: 1%;
    flex-grow: 0;
    text-align: center;
}