header {
    background-color: rgba(232, 229, 234, 0.635);

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

li {
    margin: 1%;
}