.credit-card-form {
    margin-bottom: 20px;
}

.credit-card-form label {
    display: block;
    margin-bottom: 5px;
}

.credit-card-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.address-form {
    margin-bottom: 20px;
}

.address-form label {
    display: block;
    margin-bottom: 5px;
}

.address-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #353535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}


button:hover {
    background-color: #737373;
}

.checkout-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}